Package: my-acr
Version: 0.1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.7)
Maintainer: My  <youremail@example.com>
Description: Your package description
 This is a longer description of your package.
